[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
pyjwt = "==2.8.0"
python-jose = {extras = ["cryptography"], version = "*"}
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
