.btn {
    color: black;
    background: white;
    padding: 0.55rem 1.25rem;
    width: 130px;
    height: 50px;
    border: 1px solid black;
    border-radius: 0.25rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }

