svg.userBt{
    color: black;
    background: white;
    padding: 0.35rem 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

.userIc{
    width: 4rem;
    height: 4rem;
}