.body {
  padding: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input {
  display: block;
  text-align: center;
}
.signup {
  text-decoration: none;
  cursor: pointer;
}
.signup:visited {
  color: black;
}
.signup:hover {
  color: rgb(255, 183, 183);
}

.fadeout {
  opacity: 0;
  animation: fadeOut ease-in-out 3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
